body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .input-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .input-section input[type="number"], .input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  .input-section button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .expenses-list {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: pink;
    color: black;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  .delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* Chart Container */
.chart-container {
    width: 350px;
    height: 350px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

/* Make chart responsive */
#expenseChart {
    max-width: 100% !important;
    max-height: 100% !important;
}
.btn-export {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
  
  